* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #f5f5f5;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}


ul {
    list-style: none;
}




a {
    text-decoration: none;
}



.home {
    min-height: 90vh;
    background: linear-gradient(to bottom, #0A1F44, #071530);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 230px;
    width: 100%;
}


.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, #0A1F44, #071530);
    z-index: 1000;
}




.links{
    display: flex;
}


.links li {
    margin: 20px;
}
.links li a{
    color: white;
    position: relative;
}
.links li a:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: #f9ad4a;
    height: 4px;
    width: 0%;
    border-radius: 4px;
    transition: 0.5s;
}
.links li a:hover:after{
    width: 100%;
}

.introduction {
    margin: 40px;
    margin-top: 80px;
}

details {
    background: white;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

summary {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

details p {
    margin-top: 15px;
    line-height: 1.6;
    text-align: justify;
}

.Objectifs, .Cahier, .Tuto, .choix{
    margin: 40px;
    margin-top: 10px;
}

details {
    background: white;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

summary {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

details p {
    margin-top: 15px;
    line-height: 1.6;
}

.container {
    display: flex;
}


.main {
    margin-top: 100px;
    width: calc(70% - 20px);
    padding: 20px;
    margin-left: 15%;  
}

summary {
    display: flex;
    align-items: center;
    gap: 10px; 
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.icon {
    width: 30px;
    height: 30px;
    color: #f9ad4a;
}

.main h1{
    margin-top: 5%;
    text-align: center;
}

.main h2{
    text-align: center;
    color: #f9ad4a;
}


.cahier-liste, .choix-liste {
    padding-left: 0;
    list-style: none;
}

.cahier-liste li::before, .choix-liste li::before {
    content: "- ";
    font-weight: bold;
    margin-right: 8px;
}

.cahier-liste li , .choix-liste li{
    margin-top: 2px;
}